:root {
    --blu: rgb(46, 70, 90);
    --red: rgb(190, 60, 60);
    --chiaro: #ebebeb;
    --bs-primary: var(--blu); 
    --bs-success: #488a4b;
}

.text-primary-c {
    color: var(--blu) !important
}
.text-danger-c {
    color: var(--red) !important
}

.title-first-half {
  color: var(--chiaro)
}

.title-seconda-half {
  color: var(--red)
}

body {
    background: #ffffff;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--marrone);
}

ul {
    margin: 0;
}

.navbar-bg {
    position: relative;
    background-color: var(--blu);
}

.navbar-nav .nav-item:not(:last-child) {
    margin-right: 15px;
}

.site-header .navbar-nav .nav-link {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.myform {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.button-as-link {
    border: none;
    background-color: transparent;
}

.button-as-link:focus {
    outline: none;
}

.custom-sidebar {
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: auto;
}

@media (min-width: 768px) {
    .custom-sidebar {
        height: 100vh;
    }
}

.separation-line {
    height: 1px;
    width: 80%;
    background-color: var(--blu);
    opacity: 0.3;
    margin: 20px auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: var(--blu);
    color: white;
}

.nav-section {
    color: black;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-section h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: black;
}

.nav-section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-section .nav-item {
    margin-bottom: 8px;
}

.nav-section .nav-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-section .nav-link:hover {
    color: var(--blu);
}

.nav-section .nav-item {
    margin-left: 0;
    padding-left: 0;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-success {
    color: #fff;
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

@media (max-width: 768px) {
    .nav.flex-column {
        flex-direction: row;
        overflow-x: auto;
    }

    .nav-item {
        margin-right: 10px;
    }

    .myform {
        width: 90%;
    }

    .table th, .table td {
        padding: 10px;
    }
}

#notificationIcon {
  position: relative;
}

#notificationBadge {
  position: absolute;
}


.notification-dropdown {
    position: absolute;
    right: 10px;
    top: 50px;
    width: 300px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.notification-header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

.notification-body {
    max-height: 300px;
    overflow-y: auto;
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-item a {
    text-decoration: none;
    color: #333;
}

