{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Make a Reservation
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Make a Reservation at {{ restaurant.name }}</h2>
            <div class="opening-hours mb-4">
                <h4>Opening Hours</h4>
                <ul>
                    {% for oh in opening_hours %}
                        <li>{{ oh.get_weekday_display }}: {{ oh.opening_time }} - {{ oh.closing_time }}</li>
                    {% endfor %}
                </ul>
            </div>
            <form method="post" id="reservationForm">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const weekdayField = document.getElementById('id_weekday');
        const timeField = document.getElementById('id_time');

        weekdayField.addEventListener('change', function () {
            const selectedDate = this.value;
            fetch(`/restaurants/get_time_choices/?date=${selectedDate}&restaurant_id={{ restaurant.id }}`)
                .then(response => response.json())
                .then(data => {
                    // Clear current time choices
                    timeField.innerHTML = '';

                    // Populate new time choices
                    data.time_choices.forEach(choice => {
                        const option = document.createElement('option');
                        option.value = choice[0];
                        option.textContent = choice[1];
                        timeField.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error fetching time choices:', error);
                });
        });

        // Trigger change event when the page loads
        const event = new Event('change');
        weekdayField.dispatchEvent(event);
    });
</script>


{% endblock %}
