{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-4">
            <form class="form-inline my-2 my-lg-0" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        {% for restaurant_data in restaurant_data_list %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">
                            <a href="{% url 'restaurants:restaurant_page' restaurant_data.restaurant.id %}" class="restaurant-link">{{ restaurant_data.restaurant.name }}</a>
                        </h5>
                        <div>
                            {% if restaurant_data.isOpen %}
                                <span class="status-badge badge badge-success">Open</span>
                            {% else %}
                                <span class="status-badge badge badge-danger">Closed</span>
                            {% endif %}
                        </div>
                    </div>
                    <p class="card-text">{{ restaurant_data.restaurant.description }}</p>
                    <p class="card-text">Address: {{ restaurant_data.restaurant.address }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}
